:root {
  --page-margin: 6vw;
  --page-width: 1200px;
  --entry-width: 62ch;
  --header-height: 4rem;
  --border-radius: 8px;
  --card-image-height: 9rem;
  --line-height: 1.6;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --headings-weight: 600;
  --white: #FFFFFF;
  --black: #000000;
  --dark: #101011;
  --gray-1: #343435;
  --gray-2: #6D6E6F;
  --light: #D5D5D5;
  --lighter: #F3F3F3;
  --color: #FF5151;
  --color-rgb: 255,81,81;
  --text-color: #343435;
  --headings-color: #101011;
  --link-color: #FF5151;
  --link-color-hover: #101011;
}
@media all and (min-width: 56.25em) {
  :root {
    --header-height: 6rem;
  }
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

.facebook:hover svg {
  fill: #3b5998;
}

.twitter:hover svg {
  fill: #55acee;
}

.instagram:hover svg {
  fill: #405de6;
}

.vimeo:hover svg {
  fill: #1ab7ea;
}

.pinterest:hover svg {
  fill: #bd081c;
}

.youtube:hover svg {
  fill: #cd201f;
}

.linkedin:hover svg {
  fill: #0077B5;
}

.buffer:hover svg {
  fill: #222222;
}

.mix:hover svg {
  fill: #f77e25;
}

.whatsapp:hover svg {
  fill: #25D366;
}

::-moz-selection {
  background: var(--color);
  color: var(--white);
}

::selection {
  background: var(--color);
  color: var(--white);
}

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  html {
    font-size: calc(1rem + 0.2 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  html {
    font-size: 1.2rem;
  }
}
html.no-scroll {
  overflow: hidden;
  position: fixed;
}

body {
  background: var(--white);
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  padding-top: calc(var(--header-height) + 3rem);
  overflow-x: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
a:hover {
  color: var(--link-color-hover);
}
a:active {
  color: var(--link-color-hover);
}
a:focus {
  color: var(--link-color-hover);
  outline: none;
}

.invert {
  color: var(--link-color-hover);
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.invert:hover {
  color: var(--link-color);
}
.invert:active {
  color: var(--link-color);
}
.invert:focus {
  color: var(--link-color);
  outline: none;
}

p,
ul,
ol,
dl,
pre {
  margin-top: calc(1rem + 0.5vw);
}

/*blockquote,*/
figure,
hr {
  margin-top: calc(1.5rem + .5vw);
  margin-bottom: calc(1.5rem + .5vw);
}

pre,
table {
  margin-top: calc(1rem + 0.5vw);
  margin-bottom: calc(1.5rem + 1vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-weight: var(--headings-weight);
  line-height: 1.2;
  margin-top: calc(1.5rem + 1vw);
  text-transform: var(--headings-transform);
}

h1,
.h1 {
  font-size: 1.6018066406rem;
}
@media screen and (min-width: 20rem) {
  h1,
.h1 {
    font-size: calc(1.6018066406rem + 1.2847009376 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h1,
.h1 {
    font-size: 2.8865075782rem;
  }
}

h2,
.h2 {
  font-size: 1.265625rem;
}
@media screen and (min-width: 20rem) {
  h2,
.h2 {
    font-size: calc(1.265625rem + 0.7616615295 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h2,
.h2 {
    font-size: 2.0272865295rem;
  }
}

h3,
.h3 {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  h3,
.h3 {
    font-size: calc(1.125rem + 0.6770324707 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h3,
.h3 {
    font-size: 1.8020324707rem;
  }
}

h4,
.h4 {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  h4,
.h4 {
    font-size: calc(1.125rem + 0.298828125 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h4,
.h4 {
    font-size: 1.423828125rem;
  }
}

h5,
.h5 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h5,
.h5 {
    font-size: calc(1rem + 0.265625 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h5,
.h5 {
    font-size: 1.265625rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  h6,
.h6 {
    font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  h6,
.h6 {
    font-size: 1.125rem;
  }
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: calc(0.75rem + 0.5vw);
}

b,
strong {
  font-weight: var(--headings-weight);
}

/*
blockquote {
  font-weight: var(--font-weight-semibold);
  padding: 2.5rem 15%;
  position: relative;
  text-align: center;
}
blockquote {
  font-size: 1.125rem;
}
@media screen and (min-width: 20rem) {
  blockquote {
    font-size: calc(1.125rem + 0.140625 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  blockquote {
    font-size: 1.265625rem;
  }
}
blockquote::after, blockquote::before {
  content: "";
  border-top: 3px solid var(--light);
  position: absolute;
  top: 0.625rem;
  width: 50%;
  height: 1px;
  left: 25%;
}
blockquote::after {
  bottom: 0.625rem;
  top: auto;
  width: 30%;
  left: 35%;
}
blockquote > :nth-child(1) {
  margin-top: 0;
}
*/
ul,
ol {
  margin-left: 2rem;
}
ul > li,
ol > li {
  list-style: inherit;
  padding: 0 0 0.5rem 0.5rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

dl dt {
  font-weight: var(--headings-weight);
}

code {
  background-color: rgba(var(--color-rgb), 0.1);
  border-radius: 2px;
  color: var(--color);
  font-size: 1rem;
  font-family: var(--monospace);
  padding: 0.25rem 0.5rem;
}

pre {
  background-color: var(--lighter);
  border-radius: 3px;
  font-size: 1rem;
  padding: 1.5rem;
  white-space: pre-wrap !important;
  word-wrap: break-word;
  width: 100%;
}
pre code {
  background-color: var(--lighter);
  color: inherit !important;
  font-size: inherit;
  padding: 0;
}

table {
  border: 1px solid var(--light);
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
table th {
  font-weight: var(--font-weight-semibold);
  padding: 0.625rem 1rem;
}
table td {
  border-top: 1px solid var(--light);
  padding: 0.625rem 1rem;
}

figcaption {
  color: var(--gray-2);
  font-family: var(--body-font);
  font-weight: var(--font-weight-normal);
  font-size: 0.7901234568rem;
  margin-top: 1rem;
  text-align: center;
}

kbd {
  background: var(--dark);
  border-radius: 2px;
  color: var(--white);
  font-family: var(--monospace);
  font-size: 0.8888em;
  padding: 0.125rem 0.375rem;
}

sub,
sup {
  font-size: 65%;
}

small {
  font-size: 0.7901234568rem;
}

hr,
.separator {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}
hr::before,
.separator::before {
  content: "***";
  color: var(--dark);
  font-size: 1.265625rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.265625rem;
  padding-left: 1.265625rem;
}

.separator--dot::before {
  content: "*";
  color: var(--dark);
  font-size: 1.265625rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1.265625rem;
  padding-left: 1.265625rem;
}
.separator--long-line {
  position: relative;
}
.separator--long-line::before {
  content: "";
  height: 1.265625rem;
}
.separator--long-line::after {
  border-top: 1px solid var(--light);
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.btn, [type=button],
[type=submit],
button {
  background: var(--color);
  -webkit-box-shadow: 0px 8px 32px rgba(var(--color-rgb), 0.4);
          box-shadow: 0px 8px 32px rgba(var(--color-rgb), 0.4);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: var(--headings-weight) 0.7023319616rem var(--heading-font);
  letter-spacing: 0.5px;
  padding: 0.75rem 1.5rem;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  will-change: transform;
  width: 100%;
}
@media all and (min-width: 20em) {
  .btn, [type=button],
[type=submit],
button {
    width: auto;
  }
}
.btn:hover, [type=button]:hover,
[type=submit]:hover,
button:hover, .btn:focus, [type=button]:focus,
[type=submit]:focus,
button:focus {
  color: white;
  text-decoration: none;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.btn:focus, [type=button]:focus,
[type=submit]:focus,
button:focus {
  outline: 2px dotted var(--color);
}
.btn:disabled, [type=button]:disabled,
[type=submit]:disabled,
button:disabled {
  background-color: var(--light);
  -webkit-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  color: var(--dark);
  cursor: not-allowed;
}
@media all and (max-width: 19.9375em) {
  .btn + .btn, [type=button] + .btn,
[type=submit] + .btn,
button + .btn, .btn + [type=button], [type=button] + [type=button],
[type=submit] + [type=button],
button + [type=button],
.btn + [type=submit],
[type=button] + [type=submit],
[type=submit] + [type=submit],
button + [type=submit],
.btn + button,
[type=button] + button,
[type=submit] + button,
button + button {
    margin-top: 0.5rem;
  }
}

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

fieldset {
  border: 1px solid var(--light);
  border-radius: 4px;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
}
fieldset > legend {
  margin-left: -1rem;
  padding: 0 1rem;
}

legend {
  font-weight: var(--headings-weight);
}

label {
  font-weight: var(--headings-weight);
  margin: 0 1rem 0.75rem 0;
}

option {
  font-weight: var(--font-weight-normal);
}

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: var(--white);
  border: none;
  border: 1px solid var(--light);
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  padding: 0.4rem 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media all and (min-width: 37.5em) {
  [type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
    width: auto;
  }
}
[type=text]:focus,
[type=url]:focus,
[type=tel]:focus,
[type=number]:focus,
[type=email]:focus,
[type=search]:focus,
textarea:focus,
select:focus {
  border-color: var(--gray-2);
}

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: block;
  font-weight: var(--font-weight-normal);
  position: relative;
  margin-left: -1px;
  cursor: pointer;
  padding: 0 0 0 2.25rem;
}
input[type=checkbox] + label::before,
input[type=radio] + label::before {
  background-color: var(--white);
  border: 1px solid var(--light);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.25rem;
  left: 0;
  line-height: 1.25rem;
  margin-right: 0.75rem;
  position: absolute;
  text-align: center;
  top: 0.25rem;
  width: 1.25rem;
}
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  background-image: none !important;
  content: "";
  border-color: var(--gray-2);
}
input[type=checkbox]:checked + label::after,
input[type=radio]:checked + label::after {
  content: "";
  display: block;
  width: 6px;
  height: 9px;
  border: solid var(--color);
  border-width: 0 2px 2px 0;
  left: 0.275rem;
  position: absolute;
  top: 0.75rem;
  -webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

input[type=radio] + label::before {
  border-radius: 50%;
}

[type=file] {
  margin-bottom: 1.5rem;
  width: 100%;
}

select {
  border-radius: 4px;
  max-width: 100%;
  width: auto;
  position: relative;
}
select:not([multiple]) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
  background-size: 8px;
  padding-right: 3rem;
}

select[multiple] {
  border: 1px solid var(--light);
  padding: 1.5rem;
  width: 100%;
}
select[multiple]:hover {
  border-color: var(--light);
}
select[multiple]:focus {
  border-color: var(--light);
}
select[multiple]:disabled {
  background-color: var(--light);
  cursor: not-allowed;
}
select[multiple]:disabled:hover {
  border-color: var(--light);
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}

.header {
  background: white; /*var(--color)*/;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". nav logo search .";
  -ms-grid-columns: var(--page-margin) auto 1fr auto var(--page-margin);
  grid-template-columns: var(--page-margin) auto 1fr auto var(--page-margin);
  height: var(--header-height);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
@media all and (min-width: 56.25em) {
  .header {
        grid-template-areas: ". logo nav search. ";
  }
}
.header.is-visible {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  opacity: 1;
  position: fixed;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -86px);
      -ms-transform: translate(0, -86px);
          transform: translate(0, -86px);
  -webkit-transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
  transition: background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s;
  transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s;
  transition: transform 0.2s, background 0.3s, color 0.3s, opacity 0 0.3s, -webkit-transform 0.2s;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: logo;
  color: var(--white) !important;
  font-family: var(--logo-font);
  font-weight: var(--font-weight-bold);
  font-size: 1.423828125rem;
  white-space: nowrap;
}
@media all and (max-width: 56.1875em) {
  .logo {
    text-align: center;
  }
}
.logo > img {
  max-height: var(--header-height);
}

.search {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  text-align: right;
  z-index: 9999;
  grid-area: search;
}
@media all and (min-width: 56.25em) {
  .search {
    margin-left: 3rem;
  }
}
.search__btn {
  border: none;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  width: auto;
}
.search__btn:hover, .search__btn:focus {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.search__btn:hover > svg, .search__btn:focus > svg {
  fill: var(--lighter);
}
.search__btn > svg {
  display: inline-block;
  fill: var(--white);
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
  vertical-align: middle;
}
.search__input {
  background: none;
  border: none;
  padding: 0 1rem 0 0;
  width: 100%;
}
@media all and (min-width: 37.5em) {
  .search__input {
    min-width: 18rem;
  }
}
.search__input:focus {
  color: var(--dark);
}
.search__input:focus::-webkit-input-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus::-moz-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus:-ms-input-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus::-ms-input-placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__input:focus::placeholder {
  color: var(--gray-2) important;
  opacity: 0.66;
}
.search__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search__submit {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  width: auto !important;
}
.search__overlay {
  background-color: var(--white);
  -webkit-box-shadow: 1px 0 18px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 0 18px rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius);
  left: var(--page-margin);
  opacity: 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  position: absolute;
  right: var(--page-margin);
  top: var(--header-height);
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  -webkit-transform: translateY(-0.75rem);
      -ms-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
  visibility: hidden;
  z-index: 2005;
}
@media all and (min-width: 37.5em) {
  .search__overlay {
    left: auto;
    top: calc(var(--header-height) - 0.75rem);
  }
}
.search__overlay.expanded {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  display: block;
  visibility: visible;
}
.search__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
}

@media all and (min-width: 56.25em) {
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .navbar {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media all and (min-width: 56.25em) {
  .navbar {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer__menu {
	justify-content: center;
  	align-items: center;
}

@media all and (max-width: 56.1875em) {
  .footer__menu {
    display: block;
  }
}

.navbar .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 -0.75rem 0 0;
  padding: 0;
}
@media all and (max-width: 56.1875em) {
  .navbar .navbar__menu {
    display: none;
  }
}
.navbar .navbar__menu li {
  display: block;
  font-size: 0.8888888889rem;
  font-family: var(--menu-font);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
  letter-spacing: 0.03em;
  padding: 0;
  position: relative;
  white-space: nowrap;
}
.navbar .navbar__menu li a,
.navbar .navbar__menu li span[aria-haspopup=true] {
  color: var(--color);/*var(--white)*/
  display: block;
  padding: 0 0.75rem;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.navbar .navbar__menu li a:active, .navbar .navbar__menu li a:focus, .navbar .navbar__menu li a:hover,
.navbar .navbar__menu li span[aria-haspopup=true]:active,
.navbar .navbar__menu li span[aria-haspopup=true]:focus,
.navbar .navbar__menu li span[aria-haspopup=true]:hover {
  color: var(--white);
}
.navbar .navbar__menu li span {
  color: var(--white);
  cursor: default;
  display: block;
  padding: 0 0.5rem;
}
.navbar .navbar__menu > li.active a,
.navbar .navbar__menu > li.active span, .navbar .navbar__menu > li.active-parent a,
.navbar .navbar__menu > li.active-parent span {
  color: var(--dark);
}
.navbar .navbar__menu > li:hover > a, .navbar .navbar__menu > li:hover > span[aria-haspopup=true] {
  color: var(--dark);
}
.navbar .has-submenu:active > .navbar__submenu,
.navbar .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu:hover > .navbar__submenu {
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  margin-top: 0.75rem;
}
.navbar .has-submenu:active > .navbar__submenu:before,
.navbar .has-submenu:focus > .navbar__submenu:before,
.navbar .has-submenu:hover > .navbar__submenu:before {
  content: "";
  height: 0.8rem;
  position: absolute;
  width: 100%;
  top: -0.8rem;
}
.navbar .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:hover > .navbar__submenu.is-right-submenu {
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu {
  top: 0;
  margin-top: 0;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu.is-right-submenu {
  top: 0;
  margin-top: 0;
}
.navbar .navbar__submenu {
  background: var(--color);
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  left: -9999px;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: 0 top;
      -ms-transform-origin: 0 top;
          transform-origin: 0 top;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  -o-transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar .navbar__submenu__submenu {
  z-index: 2;
}
.navbar .navbar__submenu li {
  line-height: 1.5;
  font-size: 0.7901234568rem;
  padding: 0 0.75rem;
  text-transform: none;
}
.navbar .navbar__submenu li a,
.navbar .navbar__submenu li span[aria-haspopup=true] {
  color: var(--white) !important;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
}
.navbar .navbar__submenu li a:active, .navbar .navbar__submenu li a:focus, .navbar .navbar__submenu li a:hover,
.navbar .navbar__submenu li span[aria-haspopup=true]:active,
.navbar .navbar__submenu li span[aria-haspopup=true]:focus,
.navbar .navbar__submenu li span[aria-haspopup=true]:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  color: var(--white) !important;
}
.navbar .navbar__submenu li span {
  color: var(--white) !important;
  padding: 0.5rem 1.25rem;
}
.navbar .navbar__submenu li:hover > a, .navbar .navbar__submenu li:hover > span[aria-haspopup=true] {
  color: var(--white) !important;
}
.navbar .navbar__toggle {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  display: block;
  line-height: 1;
  overflow: visible;
  padding: 0;
  text-transform: none;
  z-index: 2004;
}
@media all and (min-width: 37.5em) {
  .navbar .navbar__toggle {
    height: var(--header-height);
  }
}
@media all and (min-width: 56.25em) {
  .navbar .navbar__toggle {
    display: none;
  }
}
.navbar .navbar__toggle:hover, .navbar .navbar__toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.navbar .navbar__toggle-box {
  width: 24px;
  height: 14px;
  display: inline-block;
  position: relative;
}
.navbar .navbar__toggle-inner {
  display: block;
  top: 50%;
  text-indent: -9999999em;
}
.navbar .navbar__toggle-inner::before {
  content: "";
  display: block;
  top: -6px;
}
.navbar .navbar__toggle-inner::after {
  content: "";
  display: block;
  bottom: -6px;
}
.navbar .navbar__toggle-inner, .navbar .navbar__toggle-inner::before, .navbar .navbar__toggle-inner::after {
  width: 22px;
  height: 2px;
  background-color: var(--color); /*var(--white);*/
  position: absolute;
  -webkit-transition: opacity 0.14s ease-out, -webkit-transform;
  transition: opacity 0.14s ease-out, -webkit-transform;
  -o-transition: transform, opacity 0.14s ease-out;
  transition: transform, opacity 0.14s ease-out;
  transition: transform, opacity 0.14s ease-out, -webkit-transform;
}
.navbar .navbar__toggle-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle-inner::before {
  -webkit-transition: top 0.075s ease 0.12s, opacity 0.075s ease;
  -o-transition: top 0.075s ease 0.12s, opacity 0.075s ease;
  transition: top 0.075s ease 0.12s, opacity 0.075s ease;
}
.navbar .navbar__toggle-inner::after {
  -webkit-transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s ease 0.12s;
  -o-transition: top 0.075s ease, opacity 0.075s ease 0.12s;
  transition: top 0.075s ease, opacity 0.075s ease 0.12s;
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -o-transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.navbar_mobile_overlay {
  background: var(--white);
  height: calc(100vh - 4rem);
  left: 0;
  opacity: 1;
  overflow: auto;
  pointer-events: auto;
  position: fixed;
  top: 4rem;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 1000;
}
@media all and (min-width: 37.5em) {
  .navbar_mobile_overlay {
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
  }
}
.navbar_mobile_overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.navbar_mobile_overlay .navbar__menu {
  margin: 24px;
}
.navbar_mobile_overlay .navbar__menu li {
  font-family: var(--heading-font);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar_mobile_overlay .navbar__menu li a,
.navbar_mobile_overlay .navbar__menu li .is-separator {
  color: var(--dark);
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_overlay .navbar__menu li a:active, .navbar_mobile_overlay .navbar__menu li a:focus, .navbar_mobile_overlay .navbar__menu li a:hover,
.navbar_mobile_overlay .navbar__menu li .is-separator:active,
.navbar_mobile_overlay .navbar__menu li .is-separator:focus,
.navbar_mobile_overlay .navbar__menu li .is-separator:hover {
  color: var(--color);
}
.navbar_mobile_overlay .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_overlay .navbar__menu li .is-separator[aria-haspopup=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--gray-1) transparent transparent transparent;
  left: 0.5rem;
  top: 14px;
  position: relative;
}
.navbar_mobile_overlay .navbar__submenu {
  margin: 0;
  padding: 0;
}
.navbar_mobile_overlay .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  -o-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_overlay .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}

.navbar_mobile_sidebar {
  background: var(--white);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 100vh;
  left: 0;
  max-width: 400px;
  overflow: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 80%;
  z-index: 1000;
}
.navbar_mobile_sidebar.is-hidden {
  left: -400px;
}
.navbar_mobile_sidebar .navbar__menu {
  margin: 24px;
}
.navbar_mobile_sidebar .navbar__menu li {
  font-family: var(--heading-font);
  font-size: 16px;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.navbar_mobile_sidebar .navbar__menu li a,
.navbar_mobile_sidebar .navbar__menu li .is-separator {
  color: var(--dark);
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_sidebar .navbar__menu li a:active, .navbar_mobile_sidebar .navbar__menu li a:focus, .navbar_mobile_sidebar .navbar__menu li a:hover,
.navbar_mobile_sidebar .navbar__menu li .is-separator:active,
.navbar_mobile_sidebar .navbar__menu li .is-separator:focus,
.navbar_mobile_sidebar .navbar__menu li .is-separator:hover {
  color: var(--color);
}
.navbar_mobile_sidebar .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_sidebar .navbar__menu li .is-separator[aria-haspopup=true]::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--gray-1) transparent transparent transparent;
  right: 0;
  top: 18px;
  position: absolute;
}
.navbar_mobile_sidebar .navbar__submenu {
  margin: 0 0 0 24px;
  padding: 0;
}
.navbar_mobile_sidebar .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  -o-transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_sidebar .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}
.navbar_mobile_sidebar__overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 1000;
}
.navbar_mobile_sidebar__overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-width);
  padding: 0 var(--page-margin);
}
.wrapper--narrow {
  max-width: var(--entry-width);
}

.hero {
  margin: auto;
  padding-bottom: calc(3rem + 1.5vw);
  text-align: center;
  max-width: var(--entry-width);
}
.hero h1 {
  margin-top: 1rem;
}
.hero h1 sup {
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
  vertical-align: top;
}
.hero p {
  color: var(--gray-2);
}
@media all and (min-width: 56.25em) {
  .hero p {
    font-size: 0.8888888889rem;
    max-width: var(--entry-width);
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__date {
  font-size: 0.7023319616rem;
}
.hero__avatar {
  -webkit-box-shadow: 1px 16px 18px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 16px 18px -6px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  height: 3.25rem;
  margin: 0 auto 1rem;
  width: 3.25rem;
}
.hero__btn {
  margin-top: 2rem;
}

.l-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem 1rem;
  list-style: none;
  margin: 0;
}
@media all and (min-width: 37.5em) {
  .l-grid {
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 56.25em) {
  .l-grid {
    -ms-grid-columns: 1fr 1.8rem 1fr 1.8rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem 1.8rem;
  }
}
@media all and (min-width: 56.25em) {
  .l-grid--2 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 75em) {
  .l-grid--4 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media all and (min-width: 75em) {
  .l-grid--5 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.l-grid--5 .c-card:nth-child(9n-4) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  position: relative;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__image {
  height: 100%;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__image:after {
  background: rgba(0, 0, 0, 0.4);
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__tag {
  background: var(--color);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 0.75rem;
  padding: 0.125rem 0.5rem;
  width: auto;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 0;
  text-align: center;
  width: 80%;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__wrapper * {
  color: white;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__wrapper h2 {
  font-size: 1.423828125rem;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__meta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.l-grid--5 .c-card:nth-child(9n-4) .c-card__text {
  display: none;
}
.l-grid--5 .c-card:nth-child(9n-3), .l-grid--5 .c-card:nth-child(9n-2), .l-grid--5 .c-card:nth-child(7n-2), .l-grid--5 .c-card:nth-child(8n-3) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
@media all and (min-width: 75em) {
  .l-grid--6 {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.l-grid--6 p {
  display: none;
}
.l-grid--6 .c-card:nth-child(2) {
  position: relative;
}
@media all and (min-width: 75em) {
  .l-grid--6 .c-card:nth-child(2) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.l-grid--6 .c-card:nth-child(2) .c-card__image {
  height: 100%;
}
.l-grid--6 .c-card:nth-child(2) .c-card__image:after {
  background: rgba(0, 0, 0, 0.4);
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.l-grid--6 .c-card:nth-child(2) .c-card__tag {
  background: var(--color);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 0.75rem;
  padding: 0.125rem 0.5rem;
  width: auto;
}
.l-grid--6 .c-card:nth-child(2) .c-card__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 0;
  text-align: center;
  width: 80%;
}
.l-grid--6 .c-card:nth-child(2) .c-card__wrapper * {
  color: white;
}
.l-grid--6 .c-card:nth-child(2) .c-card__wrapper h2 {
  font-size: 1.423828125rem;
}
.l-grid--6 .c-card:nth-child(2) .c-card__meta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.l-grid--6 .c-card:nth-child(2) .c-card__text {
  display: none;
}
.l-grid--6 .c-card:nth-child(1), .l-grid--6 .c-card:nth-child(3) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.l-grid .c-card__image {
  height: var(--card-image-height);
}
.l-grid .c-card__image > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.l-masonry {
  list-style: none;
  margin: 0;
}
@media all and (min-width: 37.5em) {
  .l-masonry {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
@media all and (min-width: 75em) {
  .l-masonry {
    -webkit-column-gap: 4%;
       -moz-column-gap: 4%;
            column-gap: 4%;
  }
}
@media all and (min-width: 56.25em) {
  .l-masonry--3 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}
@media all and (min-width: 56.25em) {
  .l-masonry--4 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }
}
@media all and (min-width: 75em) {
  .l-masonry--4 {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}
.l-masonry .c-card {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  display: inline-block;
  margin: 0 0 1rem;
  width: 100%;
}
@media all and (min-width: 37.5em) {
  .l-masonry .c-card {
    margin: 0 0 2.5rem;
  }
}

.c-card {
  background: var(--white);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 1px 16px 18px -6px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 16px 18px -6px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  will-change: transform;
}
.c-card--featured {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(var(--color-rgb), 0.2)), color-stop(90%, white));
  background: -o-linear-gradient(top, rgba(var(--color-rgb), 0.2) 0%, white 90%);
  background: linear-gradient(to bottom, rgba(var(--color-rgb), 0.2) 0%, white 90%);
}
.c-card:hover {
  -webkit-box-shadow: 1px 32px 18px -6px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 32px 18px -6px rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.c-card__image {
  display: block;
  border-radius: var(--border-radius);
  margin: 0;
  overflow: hidden;
}
.c-card__image > img {
  display: block;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.c-card__wrapper {
  padding: 0 1.75rem 1.75rem;
}
.c-card__header {
  margin-top: 1.5rem;
}
.c-card__tag {
  font-weight: var(--font-weight-bold);
  font-size: 0.7901234568rem;
}
.c-card__title {
  font-size: 1rem;
  margin: 0.25rem 0 0.5rem;
}
.c-card__text {
  margin-top: 1.5rem;
  font-size: 0.7901234568rem;
}
.c-card__meta {
  color: var(--gray-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.624295077rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}
.c-card__comments {
  margin-left: 0.75rem;
}
.c-card__comments > svg {
  fill: var(--color);
  height: 14px;
  margin-right: 0.2rem;
  width: 14px;
  vertical-align: sub;
}

.post {
  position: relative;
}
.post__inner {
  max-width: var(--entry-width);
  margin: auto;
}
.post__header {
  padding-bottom: calc(2.5rem + 1vw);
  text-align: center;
}
.post__title {
  margin-top: 0.5rem;
}
.post__meta {
  color: var(--gray-2);
  font-size: 0.7901234568rem;
  margin-top: 1rem;
}
.post__meta > * {
  display: inline-block;
  margin-right: 1rem;
}
.post__maintag {
  display: block;
  font-size: 0.7901234568rem;
  font-weight: var(--font-weight-bold);
}

/*
.post__comments > svg {
  fill: var(--color);
  height: 14px;
  margin-right: 0.2rem;
  width: 14px;
}
*/

.post__comments a {
  display: block;
}
.post__comments a svg {
  fill: currentColor;
  height: 16px;
  margin-right: 0.2rem;
  width: 16px;
}

.post__featured-image {
  display: block;
  margin-top: 0;
  text-align: center;
}
.post__featured-image > img {
  border-radius: var(--border-radius);
}
.post__image > img {
  border-radius: var(--border-radius);
}
.post__image--left {
  float: left;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  max-width: 50%;
}
.post__image--right {
  float: right;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  max-width: 50%;
}
.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.post__image--wide {
  display: block;
}
@media all and (min-width: 56.25em) {
  .post__image--wide {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 0 var(--page-margin);
    text-align: center;
  }
  .post__image--wide a,
.post__image--wide img {
    display: block;
    height: auto;
    margin: auto;
    max-width: var(--page-width);
    width: 100%;
  }
}
.post__image--full {
  display: block;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  text-align: center;
}
.post__image--full a,
.post__image--full img {
  display: block;
  height: auto;
  width: 100%;
}
.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: calc(1.5rem + 0.5vw);
  margin-bottom: calc(1.5rem + 0.5vw);
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.post__video::before, .post__iframe::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.post__video--21by9::before, .post__iframe--21by9::before {
  padding-top: 42.857143%;
}
.post__video--4by3::before, .post__iframe--4by3::before {
  padding-top: 75%;
}
.post__video--1by1::before, .post__iframe--1by1::before {
  padding-top: 100%;
}
.post__video > iframe, .post__video > video, .post__iframe > iframe, .post__iframe > video {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.post__entry {
  margin-bottom: 2rem;
}
.post__entry > :nth-child(1) {
  margin-top: 0;
}
.post__entry a:hover {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.post__toc h3 {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  .post__toc h3 {
    font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 86));
  }
}
@media screen and (min-width: 106rem) {
  .post__toc h3 {
    font-size: 1.125rem;
  }
}
.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: calc(0.5rem + 0.25vw) 0 calc(1.5rem + 0.25vw) 1rem;
}
.post__toc ul li {
  counter-increment: item;
  padding: 0;
}
.post__toc ul ul {
  margin-top: 0;
}
.post__toc ul ul li {
  display: block;
}
.post__toc ul ul li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}
.post__last-updated {
  color: var(--gray-2);
  font-size: 0.7901234568rem;
  font-style: italic;
  margin: 1rem 0 0;
}
.post__tags-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: calc(1rem + 0.5vw);
}
.post__tag {
  margin: 0;
}
.post__tag li {
  display: inline-block;
  list-style: none;
  padding: 0 0.5rem 0.5rem 0;
}
.post__tag li > a {
  background: var(--lighter);
  border-radius: 3px;
  color: var(--dark);
  display: block;
  font-family: var(--heading-font);
  font-size: 0.7901234568rem;
  font-weight: var(--font-weight-bold);
  padding: 0.25rem 0.5rem;
}
.post__tag li > a:hover {
  background: var(--dark);
  color: var(--white);
}
.post__share {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.post__share > a {
  display: inline-block;
  margin: 0 0.25rem;
}
.post__share > a svg {
  fill: var(--gray-2);
  height: 0.888rem;
  margin: 0 auto;
  pointer-events: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  vertical-align: text-bottom;
  width: 0.888rem;
}
.post__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: calc(2rem + 1vw) 0 0;
}
.post__nav__link {
  color: var(--gray-2) !important;
  display: block;
  font-size: 0.624295077rem;
  text-transform: uppercase;
  -webkit-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
.post__nav__link:hover h3 {
  color: var(--color);
}
.post__nav h3 {
  font-size: 1rem;
  position: relative;
  -webkit-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
  margin: 0.25rem 0 0;
}
.post__nav__prev {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: left;
}
.post__nav__next {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: auto;
  text-align: right;
}
.post__bio {
  border-radius: 12px;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8888888889rem;
  margin-top: calc(2rem + 1vw);
  padding: 2.25rem;
}
.author__avatar {
  border-radius: var(--border-radius);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 5rem;
  margin-right: 1.75rem;
  width: 5rem;
}
.author__name {
  margin: 0;
}
.author__desc {
  margin-top: 0.75rem;
}

.post__related {
  background: var(--lighter);
  margin: calc(3rem + 1vw) 0 -4.5rem;
  padding: 2rem 0 3rem;
}
.post__related h2 {
  margin-bottom: calc(0.75rem + 0.5vw);
}

.comments {
  border-top: 1px solid var(--lighter);
  margin-top: calc(2rem + 1vw);
}
.comments > h3 {
  margin-bottom: 1.25rem;
}

.banner {
  text-align: center;
}
.banner--before-post {
  margin-bottom: 3rem;
}
@media all and (min-width: 56.25em) {
  .banner--before-post {
    margin-bottom: 3.75rem;
  }
}
.banner--after-post {
  margin-top: calc(1.5rem + 1vw);
}

.page--search__form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 37.4375em) {
  .page--search__input {
    margin-bottom: 0.5rem;
  }
}
@media all and (min-width: 20em) {
  .page--search__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-right: 0.5rem;
  }
}
.page--error__title {
  font-size: 10vw;
}
.page--author__website {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.page--author__website a {
  margin-left: 0.4rem;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.msg {
  padding: 1rem 2rem;
}
.msg--highlight {
  background-color: #FFFCF1;
}
.msg--info {
  background: #F2F9FF;
}
.msg--success {
  background: #F7FBF6;
}
.msg--warning {
  background: #FFF3F3;
  color: #A94442;
}

.dropcap:first-letter {
  float: left;
  font-family: var(--heading-font);
  font-size: 4.1098906729rem;
  line-height: 0.7;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.pagination {
  margin-top: calc(3rem + 1.5vw);
  text-align: center;
  width: 100%;
}
@media all and (min-width: 20em) {
  .pagination > a + a {
    margin-left: 0.5rem;
  }
}

.footer {
  background: var(--lighter);
  border-radius: var(--border-radius);
  padding: 4rem 0 3rem;
  margin: 4.5rem 0 0;
  text-align: center;
}
.footer__copyright {
  color: var(--gray-2);
  font-size: 0.7901234568rem;
  padding: 1rem 0;
}
.footer__social > a {
  display: inline-block;
  padding: 0.5rem;
}
.footer__social > a svg {
  fill: var(--gray-2);
  height: 1rem;
  pointer-events: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 1rem;
}

.gallery {
  margin: calc(1.5rem + 0.5vw) -0.5rem;
}
@media all and (min-width: 20em) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--wide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
  .gallery-wrapper--wide .gallery {
    padding: 0 var(--page-margin);
    max-width: var(--page-width);
  }
}
@media all and (min-width: 56.25em) {
  .gallery-wrapper--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
@media all and (min-width: 20em) {
  .gallery[data-columns="1"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
@media all and (min-width: 30em) {
  .gallery[data-columns="2"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery[data-columns="3"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="4"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="5"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="6"] .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.666%;
            flex: 0 1 16.666%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="7"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 14.285%;
            flex: 1 0 14.285%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="8"] .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 12.5%;
            flex: 1 0 12.5%;
  }
}
.gallery__item {
  margin: 0;
  padding: 0.5rem;
  position: relative;
}
@media all and (min-width: 20em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media all and (min-width: 30em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}
.gallery__item a {
  border-radius: var(--border-radius);
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.gallery__item a::after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: var(--border-radius);
  bottom: 0.5rem;
  content: "";
  display: block;
  opacity: 0;
  left: 0.5rem;
  height: calc(100% - 1rem);
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  width: calc(100% - 1rem);
}
.gallery__item a:hover::after {
  opacity: 1;
}
.gallery__item img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery__item figcaption {
  bottom: 1.2rem;
  color: var(--white);
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, 1.2rem);
      -ms-transform: translate(-50%, 1.2rem);
          transform: translate(-50%, 1.2rem);
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.gallery__item:hover figcaption {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pswp--dark .pswp__bg {
  background: black;
}
.pswp--light .pswp__bg {
  background: var(--white);
}
.pswp--light .pswp__counter {
  color: black;
}
.pswp--light .pswp__caption__center {
  color: var(--dark);
}

/* Start : General Custom CSS code */

.honeypot-field {
  display: none;
}


.cardic{
	/*-webkit-box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.2);
  	box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.2);*/
  	-webkit-box-shadow: 0 0.00625rem 0.125rem rgba(0, 0, 0, 0.2);
  	box-shadow: 0 0.00625rem 0.125rem rgba(0, 0, 0, 0.2);
  	border-radius: var(--border-radius);
}

.form-area{
  	display: flex;
  	flex-direction:  column;
  	justify-content: center;
  	align-items: center;
	background-color: #F0F0F0;
  	padding: 2rem 0.5rem;
  	margin: 2rem auto;
  	width: 100%;
  	border-radius: var(--border-radius);
  
}

.footer-link{
	margin-right: 1rem;
}

.footer-links{
	display: flex;
    justify-content: center;
  	align-items: center;
    margin-bottom: 1rem;
}

.form-input{
	margin: 0.5rem;
}

.form-textarea{
  	display:inline-block;
  	padding: 0.5rem;
}

.frontpage-hero{
	min-height: 80vh;
    padding: 0.25rem 0.25rem;
  	margin: 0.25rem auto;
  	width: 100%;
}

.frontpage-hero__text{
	text-align: justify;
}

.frontpage-section{
	margin: auto;
  	padding: 2.25rem 1rem;
  	text-align: center;
  	min-height: 50vh;
  	
}

.frontpage-subsection{
  	display: flex;
  	flex-direction:  column;
  	justify-content: center;
  	align-items: center;
	padding: 1rem 1rem;
  	margin: 2rem auto;
  	width: 100%;
}

.frontpage-subsection__body{
	margin-top: 1.5rem;
  	text-align: justify;
  	/*font-size: 0.7901234568rem;*/
}

.frontpage-subsection__button{
	margin-top: 1rem;
}

.frontpage-subsection__footer{
	/*height: 10%*/
}

.frontpage-subsection__header{
	margin-top: 1.5rem;
}


.frontpage-subsection__image{
	display: block;
  	border-radius: var(--border-radius);
  	margin: 0;
  	overflow: hidden;
}

.frontpage-subsection__image > img{
	display: block;
  	-webkit-transition: all 0.25s ease-out;
  	-o-transition: all 0.25s ease-out;
  	transition: all 0.25s ease-out;
}

.frontpage-subsection__title{
	font-size: 1rem;
  	margin: 0.25rem 0 0.5rem;
}

.testimonial{
	flex-direction:  column;
}

.testimonial blockquote {
  display: inline-block;
  position: relative; }

.testimonial blockquote p {
    font-size: 2.4rem;
    line-height: 4rem; }
    blockquote p:last-child {
      margin-bottom: 3.2rem; }

.testimonial cite {
  display: block;
  text-align: center; }
  cite:before {
    content: '\2014   \2009';
    margin-right: 6px; }

.testimonial cite span {
  display: block; }


.no-before::before{
	display: none;
}

@media screen and (max-width: 799px) {
  .frontpage-subsection-image{
      order: -1;
  }
}

.note{
	padding: 1rem 2rem;
  	
}

.note--green{
	background: rgba(0, 255, 0, 0.3);
  	border-left: 0.3rem solid rgba(0, 255, 0);
}

.note--orange{
	background: rgba(255, 255, 0, 0.3);
  	border-left: 0.3rem solid rgba(255, 255, 0);
}

.note--red{
	background: rgba(255, 0, 0, 0.3);
  	border-left: 0.3rem solid rgba(255, 0, 0);
}

.post__inner--wider {
  max-width: 100ch;
  margin: auto;
}

/*=========================================
11. Quotes
=========================================== */
blockquote {
  display: inline-block;
  position: relative;
  
}
  blockquote p {
    font-size: 1.2rem;
    line-height: 2rem; }
    blockquote p:last-child {
      margin-bottom: 3.2rem; }

/* -- Interviews dl.text-interview -- */
dd blockquote p:last-child {
  margin-bottom: 0; }

cite {
  display: block;
  text-align: center; }
  cite:before {
    content: '\2014   \2009';
    margin-right: 6px; }

cite span {
  display: block; }

/* -- A big Blockquote -- */
/* .wall will be deprecated soon. Use .text-quote ;) */
.text-quote,
.wall {
  /* Versatility: blockquote, p, h2... */
  position: relative; }
  .text-quote:before,
  .wall:before {
    content: '\201C';
    font-family: arial, sans-serif;
    font-size: 12rem;
    height: 5.6rem;
    left: -.8rem;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: -4rem;
    width: 5.6rem; }
  @media (min-width: 768px) {
    .text-quote,
    .wall {
      padding-left: 6.4rem; }
      .text-quote p,
      .wall p {
        font-size: 3.2rem;
        line-height: 4.8rem; }
      .text-quote:before,
      .wall:before {
        left: .8rem;
        top: -1.6rem; } }

/*=========================================
12. Avatars - uifaces.com
=========================================== */
cite img,
img[class*='avatar-'] {
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle; }

img[class*='avatar-'] {
  border-radius: 50%; }

img.avatar-40 {
  height: 40px;
  width: 40px; }

img.avatar-48 {
  height: 48px;
  width: 48px; }

img.avatar-56 {
  height: 56px;
  width: 56px; }

img.avatar-64 {
  height: 64px;
  width: 64px; }

img.avatar-72 {
  height: 72px;
  width: 72px; }

img.avatar-80 {
  height: 80px;
  width: 80px; }


/* End : General Custom CSS code */